* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    color: #545454;
    font-family: "COPPERPLATE", "Courier New", monospace;
    justify-content: center;
    background: #eef5db
}

#app {
    background: #bad9b5;
    margin: 40px;
    padding: 50px;
    border-radius: 25px;
    width: 900px;

}

#title {
    text-align: center;
}

#status {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
}

#status > * {
    padding: 10px;
    background: #bad9b5;
}

#reset {
    background: #bad9b5;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-icons {
    color: #545454;
    vertical-align: middle;
}

.material-icons:hover {
    color: #eff7cf;
}

#pause{
    color:#eff7cf;
    width:50px;
    height:40px;
    border: 2px solid #bad9b5;
    transform: translate(0%, -95%);
}

#pause:hover {
    box-shadow: 0 12px 16px 0 rgba(39, 66, 3, 0.24),0 17px 50px 0 rgba(16, 114, 54, 0.19);
  }

#game-board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 5px;
    background: #54934d;
}

.cell {
    height: 70px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
    color: #222222;
}

.cell.light{
    background: #aaf7a0; 
}

.cell.medium{
    background:#56ae48;
}

.cell.dark{
    background: #226d16; 
}

.cell.neutral{
    background: rgb(226, 233, 213);
}
.cell:hover{
    cursor: pointer;
    background: #f0b67f;
}
.welcome{
    z-index:+99;
    width:575px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(15%, -150%);
}
.welcome .setting{
    width:1000px;
    height:200px;
    background: #bad9b5;
    color: #545454;
    text-align: center;
    padding-top:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7),inset 0px 0px 10px rgba(0,0,0,0.4);
    border:0.5px solid rgba(0,0,0,0.2);
    transform: translate(0.5%, -100%);
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNSFrXn7oDPGF2FfZZoZd80hfObrHd5FEc3fzEBpVTHFZJ6lGwC0tAdjpv_Mnn5Mx9ixk&usqp=CAU");*/
    padding-bottom: 12px;
    border-bottom: 0.5px solid black;
}

.setting .footer{
    font-size: 12px;
    text-align: center;

    /* padding: 6px 0px; */
    color:#545454;
}
.setting >.footer{
    margin: 60px;
    transform: translateX(-45%);

    /* padding: 6px 20px; */
}
.welcome .setting .name input{
    border-radius: 5px;
    padding:5px;
    outline:none;
    width:80%;
    margin:10px 0px;
}
.setting .logo{
    font-weight:bold;
    font-size: 23px;
    transform: translateX(-21%);
}

.play{
    outline: none;
    border:0.5px solid #545454;
    font-size: 18px;
    padding:5px 15px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    cursor:pointer;
    color:#545454;
    transform: translateY(300%);
    font-family: "COPPERPLATE", "Courier New", monospace;


}
.play:hover{
    background-color: rgba(0,0,0,0.2);
}

#playername{

    background-color:white;
    height: 40px;
    border:0.5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 4px #7b7979,inset 0px 0px 10px #7b7979;
    transform: translate(0%,60%);

}

input::placeholder{
    font-family: "COPPERPLATE", "Courier New", monospace;
    color:#545454;
}

.welcome .setting img{
    width:20%;
}

.pause{    
    background-color: #bad9b5;
    width: 500px;
    height:200px;
    text-align: center;
    padding-top:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7),inset 0px 0px 10px rgba(248, 246, 246, 0.4);
    border:0.5px solid rgb(255, 255, 255);
    transform: translate(30%, -500%); 
    justify-content: center;
}

.pauseButtons{
    outline: none;
    border:0.5px solid rgba(255, 253, 253, 0.664);
    font-size: 30px;
    padding:5px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 50px;
    cursor:pointer;
    font-family: "COPPERPLATE", "Courier New", monospace;
    color: rgb(255, 255, 255);
}

#parag{
    padding-bottom:20px;
    font-family: "COPPERPLATE", "Courier New", monospace;
    font-size: 40px;
    color: rgb(252, 252, 252);
}

.cellClicked {
    background: #f0b67f !important;
}

#log{
    background: #bad9b5;
    width: 400px;
    height: 400px;
    margin: 40px;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7),inset 0px 0px 10px rgba(0,0,0,0.4);
    border:0.5px solid rgba(0,0,0,0.2);
    overflow: scroll;
}

.log{
    font-size: 20px;
    padding: 20px;
}