* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    color: #545454;
    font-family: sans-serif;
    justify-content: center;
    background: #eef5db
}

#app {
    background: #bad9b5;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

#title {
    text-align: center;
}

#status {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
}

#status > * {
    padding: 10px;
    background: #bad9b5;
}

#reset {
    background: #bad9b5;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-icons {
    color: #545454;
    vertical-align: middle;
}

.material-icons:hover {
    color: #eff7cf;
}

#pause{
    color:#eff7cf;
    width:50px;
    height:40px;
    border: 2px solid #4CAF50;
    transform: translate(970%, -95%);
}

#pause:hover {
    box-shadow: 0 12px 16px 0 rgba(39, 66, 3, 0.24),0 17px 50px 0 rgba(16, 114, 54, 0.19);
  }

#game-board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 5px;
    background: #54934d;
}

.cell {
    height: 60px;
    width: 60px;
    display: flex;
    background: #bad9b5;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
    color: #222222;
    box-shadow: 1px 1px 1px rgb(79, 240, 79), 
    1px 2px 1px rgb(18, 209, 18), 
    1px 3px 1px rgb(18, 209, 18),
    1px 4px 1px rgb(18, 209, 18),
    1px 5px 1px rgb(18, 209, 18),
    1px 6px 1px rgb(18, 209, 18),
    1px 7px 1px rgb(18, 209, 18),
    1px 8px 1px rgb(18, 209, 18),
    1px 9px 1px rgb(18, 209, 18),
    1px 10px 1px rgb(18, 209, 18),
    1px 18px 6px green,
    1px 22px 10px green,
    1px 25px 35px green,
    1px 20px 60px green;
}

.cell.light{
    background: #aaf7a0; 
}

.cell.medium{
    background:#44fc28;
}

.cell.dark{
    background: #309b20; 
}

.cell.neutral{
    background: white;
}

.cell:hover{
    cursor: pointer;
    background: #f0b67f;
}

.welcome{
    z-index:+99;
    width:575px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -150%);
}
.welcome .setting{
    width:2000px;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding-top:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7),inset 0px 0px 10px rgba(0,0,0,0.4);
    border:0.5px solid rgba(0,0,0,0.2);
    transform: translate(0.5%, -200%);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNSFrXn7oDPGF2FfZZoZd80hfObrHd5FEc3fzEBpVTHFZJ6lGwC0tAdjpv_Mnn5Mx9ixk&usqp=CAU");
    padding-bottom: 12px;
    border-bottom: 0.5px solid black;
}

.setting .footer{
    font-size: 12px;
    padding: 6px 0px;
    color:white;
}
.welcome .setting .name input{
    border-radius: 5px;
    padding:5px;
    outline:none;
    width:80%;
    margin:10px 0px;
}

.play{
    outline: none;
    border:0.5px solid white;
    font-size: 18px;
    padding:5px 15px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    cursor:pointer;
    color:rgb(0, 255, 149);
}
.play:hover{
    background-color: rgba(0,0,0,0.2);
}

#playername{
    background-color:white;
    height: 40px;
    border:0.5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(22, 63, 247, 0.6),inset 0px 0px 10px rgba(22, 63, 247, 0.6);
}

input::placeholder{
    color:rgb(50, 233, 157);
}

.welcome .setting img{
    width:20%;
}

.pause{
    background-color:white;
    width: 500px;
    height:200px;
    text-align: center;
    padding-top:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7),inset 0px 0px 10px rgba(248, 246, 246, 0.4);
    border:0.5px solid rgb(255, 255, 255);
    transform: translate(8%, -250%); 
    justify-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNSFrXn7oDPGF2FfZZoZd80hfObrHd5FEc3fzEBpVTHFZJ6lGwC0tAdjpv_Mnn5Mx9ixk&usqp=CAU");
}

.pauseButtons{
    outline: none;
    border:0.5px solid rgba(255, 253, 253, 0.664);
    font-size: 30px;
    padding:5px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 50px;
    cursor:pointer;
    font-family: "COPPERPLATE", "Courier New", monospace;
    color: rgb(50, 233, 157);
}

#parag{
    padding-bottom:20px;
    font-family: "COPPERPLATE", "Courier New", monospace;
    font-size: 40px;
    color: rgb(50, 233, 157);
}